@model IEnumerable<MobileStore.Models.PostModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "CreatePost", "Admin", null, null)
    </p>
}

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
    </tr>
}
</table>
